<!DOCTYPE html>
<html>

<head>
  <title>login</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
  <div class="login">
    Email <input type="email" id="email"><br />
    Password <input type="password" id="password"><br />
    <button id="btn">login</button>
  </div>
  <script type="text/javascript" src="js/signup.js"></script>
</body>

</html>